@media screen and (max-width: 959px) {
  /* （タブレット） */
  body {
  }
}
@media screen and (max-width: 480px) {
  /* （スマホ） */
  .PageTop {
    width: 200px;
  }
}

header {
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: rgba(243, 240, 240, 0.734);
}

body {
  user-select: none;
  margin: auto;
  text-align: center;
  /* font-family: "Alegreya Sans SC"; */
  font-family: "Open Sans", "Segoe UI", Verdana, Arial,
    "UD デジタル 教科書体 NK-R", "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3";
}
body::-webkit-scrollbar {
  display: none;
}

.MainContainer {
  max-width: 1400px;
  margin: 60px auto 50px;
}

.LoginForm {
  max-width: 300px;
}

.LoginMessage p {
  margin: 10px auto;
}

.PageTop {
  background-color: #cdeef1;
  padding: 170px 0;
  border-radius: 6px;
}

.PageTop h1 {
  color: white;
  font-size: 70px;
  text-shadow: -1px 1px 0 rgb(81, 78, 78);
  letter-spacing: 4px;
  font-weight: bold;
  margin: 0 auto;
}

.PageTop p {
  color: white;
  font-size: 20px;
}

.StyleLink {
  margin: 10px auto 0 10px;
}

/* .topImage {
  width: 100%;
  height: 420px;
  margin: auto 0;
  background: url("./img/cosmetic_background3.jpg");
  filter: blur(4px);
} */

/* #trouble_face_img,
#thinking_img,
#use_pc_img,
#smile_img {
  height: 130px;
  width: auto;
  margin: 0 0 20px 0;
} */

#EwgLevel_img {
  height: 90px;
  width: auto;
  margin: 10px 0;
}

#Ewg-logo_img {
  height: 160px;
  width: auto;
  margin: 0;
}

#Hazard_img {
  height: 50px;
  width: auto;
  margin: 0;
}

#LowHazard_img,
#ModerateHazard_img,
#HighHazard_img {
  display: inline-block;
  height: 90px;
  width: auto;
  margin: 0px auto;
  vertical-align: bottom;
}

.level_LowHazard p,
.level_ModerateHazard p,
.level_HighHazard p {
  display: inline-block;
  line-height: 70px;
  padding-left: 20px;
}
.level_LowHazard,
.level_ModerateHazard,
.level_HighHazard {
  margin: 20px 10px 0;
}

/* .balloonLeft {
  position: relative;
  margin: 10px auto 15px 250px;
  padding: 10px;
  background: #dee4ace0;
  border-radius: 30px;
  max-width: 450px;
}

.balloonLeft:before {
  content: "";
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background: #dee4aca5;
  border-radius: 50%;
}

.balloonLeft:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background: #dee4aca5;
  border-radius: 50%;
}

.balloonRight {
  position: relative;
  margin: 10px 250px 15px auto;
  padding: 10px;
  background: #bee7bcef;
  border-radius: 30px;
  max-width: 450px;
}

.balloonRight:before {
  content: "";
  position: absolute;
  right: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background: #bee7bca5;
  border-radius: 50%;
}

.balloonRight:after {
  content: "";
  position: absolute;
  right: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background: #bee7bca5;
  border-radius: 50%;
} */

/* .topMain {
  max-width: 1400px;
  margin: 50px auto 0;
} */

/* .topMain p {
  margin: 0;
  padding: 0;
} */

/* .topIconLeft {
  position: absolute;
  left: -200px;
  top: 20px;
}

.topIconRight {
  position: absolute;
  right: -200px;
  top: 20px;
} */

/* .top {
  height: 400px;
  margin: 0 auto;
  position: relative;
  max-width: 1400px;
} */

/* .topTitle {
  margin: 0 auto;
  line-height: 100px;
  max-width: 1000px; */
/* width: 800px; */
/* font-size: 50px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 0 5px rgb(74, 86, 58);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.explain {
  margin: 30px 60px;
  font-size: 20px;
}
.SkinType ul,
.menu ul {
  padding: 0;
  margin: 0 auto;
}

.SkinType li {
  font-size: 20px;
  color: white;
  list-style: none;
  width: 90px;
  line-height: 90px;
  border-radius: 50%;
  background: #4dc9b2c9;
  margin: 4px;
  display: inline-block;
}

.SkinType li:hover {
  cursor: pointer;
  background: #4dc9b27d;
}

h2 {
  max-width: 1400px;
  background: #4dc9b2c9;
  color: white;
  padding: 10px 0;
  margin: 30px auto;
}

h3 {
  font-size: 23px;
  max-width: 500px;
  background: #87e6d4c9;
  text-shadow: 1px 0 5px rgb(170, 176, 120);
  color: white;
  padding: 20px 10px;
  margin: 100px auto 0;
  border-radius: 10px;
}

.Triangle {
  width: 0;
  height: 0;
  margin: 0 auto;
  border: 20px solid transparent;
  border-top: 20px solid #87e6d4c9;
}

p {
  margin: 0;
}

footer {
  padding: 30px 0;
}

/* TODO: ↓関係ないところもyellowになるから、該当ページだけ書くようにする */
p span {
  position: relative;
  background: linear-gradient(transparent 40%, yellow 40%);
}
