@media screen and (max-width: 959px) {
  /* （タブレット） */
  body {
  }
}
@media screen and (max-width: 480px) {
  /* （スマホ） */
  .PageTop {
    width: 200px;
  }
}

body {
  user-select: none;
  margin: auto;
  text-align: center;
  /* font-family: "Alegreya Sans SC"; */
  font-family: "Open Sans", "Segoe UI", Verdana, Arial,
    "UD デジタル 教科書体 NK-R", "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3";
}
/* body::-webkit-scrollbar {
  display: none;
} */

.MainContainer {
  max-width: 1400px;
  margin: 60px auto 50px;
}

h2 {
  max-width: 1400px;
  background: #4dc9b2c9;
  color: white;
  padding: 10px 0;
  margin: 30px auto;
}

h3 {
  font-size: 23px;
  max-width: 500px;
  background: #87e6d4c9;
  text-shadow: 1px 0 5px rgb(170, 176, 120);
  color: white;
  padding: 20px 10px;
  margin: 100px auto 0;
  border-radius: 10px;
}

p {
  margin: 0;
}

/* ここからtopPage */
.balloonLeft {
  position: relative;
  margin: 10px auto 15px 250px;
  padding: 10px;
  background: #dee4ace0;
  border-radius: 30px;
  max-width: 450px;
}

.balloonLeft:before {
  content: "";
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background: #dee4aca5;
  border-radius: 50%;
}

.balloonLeft:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background: #dee4aca5;
  border-radius: 50%;
}

.balloonRight {
  position: relative;
  margin: 10px 250px 15px auto;
  padding: 10px;
  background: #bee7bcef;
  border-radius: 30px;
  max-width: 450px;
}

.balloonRight:before {
  content: "";
  position: absolute;
  right: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background: #bee7bca5;
  border-radius: 50%;
}

.balloonRight:after {
  content: "";
  position: absolute;
  right: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background: #bee7bca5;
  border-radius: 50%;
}
